.nav__list {
  display: flex;
  background-color: var(--grey);
  justify-content: space-around;
  padding: 8px 0;
  border-top: 2px solid var(--yellow);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__svg {
  width: 30px;
  height: 30px;
  color: black;
}

.nav__svg:hover {
  color: var(--red);
  transition: color 0.3s ease-out;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__link:hover .nav__notification {
  animation: notificationAnimation 5s ease-in-out infinite;
}

.nav__notification-small {
  background-color: var(--teal);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  bottom: 27px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons-cog:hover {
  animation: rotateCog 2s linear infinite;
}
